<div class="timeline-content">
    <p>Masumenu is a restaurant point of sale and management system that helps restaurants improve operations, increase sales
        and create a better guest experience. The services included pricing plans, and services based on restaurant type.</p>
    <img class="timeline-content-image" src="assets/img/templates/student-3/masu-menu.png" alt="Masu Menu">
    <p class="timeline-content-quote">
        "The assistance I received during the UX define and design process was extremely helpful and helped me with understanding
        my audience and the purpose of the site.
    </p>
    <p>
        "I felt more confident in each phase to make decisive decisions that otherwise, without this help, may have led my design
        down the wrong path.
    </p>
    <img class="timeline-content-image" src="assets/img/templates/student-3/masu-menu2.png" alt="Masu Menu 2">
</div>