<div class="timeline-content">
    <h3>Brief</h3>
    <p>
        Rotorua City Council requires a single-page web application allowing visitors to the town to easily search and
        locate adventure
        hotspots for activities such as mountain biking, hiking, and air and water sports using a map-based interface.
    </p>
    <img class="timeline-content-image" src="assets/img/templates/student-1/rad.png" alt="Rotorua Adventure">
    <p> Users will be able to map routes from their current or specified location to the hotspot locations, as well as
        search,
        categorise, view, and learn more about each destination.
    </p>
    <p>Map Requirements/Use Cases:</p>
    <ol class="gradient-list">
        <li>Find a place</li>
        <li>View that place</li>
        <li>Get more details on a place</li>
        <li>Navigate to place website</li>
        <li>Seach for a place/activity</li>
        <li>Show all activities in a category</li>
        <li>Find route from “current location“ to place
        </li>
    </ol>
    <p class="timeline-content-quote">
        "It took some time to form a concrete vision of
        what our apps would be used for, our target
        audiences, app functionality, and technology for
        implementation.</p>
    <img class="timeline-content-image" src="assets/img/templates/student-1/activity-diagram.png"
        alt="Rotorua Adventure Activity Diagram">
    <p>"Major decisions were regarding use
        of the FourSquare Places API or the Google Places
        API to get data for “places” (both are now utilised in
        our apps). We also had the choice of using Leaflet, a
        plugin used previously in class, or Google Maps itself
        alongside the Google Maps JavaScript API.</p>

    </p>
    <p class="timeline-content-quote">"I am very happy with the current application, especially given the numerous
        problems encountered along the way.</p>
    <p>"The whole project was a huge learning
        curve in terms of JS frameworks, code structuring, API use, security and privacy,
        time management, collaborative development, the agile approach, scrums,
        standups, and leadership, and research and testing techniques.</p>
</div>