<div class="timeline-content">
        <img class="timeline-content-image" src="assets/img/templates/student-1/holly-johnson.jpg" alt="Holly Johnson">
    <p>
        Holly Johnson, a student studying the Diploma in Web and UX Design at Yoobee School of Design, spent two weeks participating
        in the Vodafone Change Accelerator programme. Holly worked at Vodafone Xone in a team with four DevAcademy developers
        to develop a prototype Web app. The Web app was being created for Anamata Cafe (one of three charities), which provides
        healthcare to rangatahi (students/youth). The team followed an Agile Sprint approach for standard work hours over
        the 10 work days to produce a digital, youth-friendly HEADSS (health) assessment. The idea of the app is to replace
        the time-consuming paper-based forms school students currently complete, hopefully targeting any issues — mental,
        social, physical, or other — that young people may be facing far more quickly. Holly said,</p>
    <p class="timeline-content-quote">“I acted as a UX designer on our team. I was focusing on the styling of the app once the functionality was in place,
        and as developers we worked with the client to produce realistic goals for the short timeframe.”</p>

    <p>Initially the first few days were focused on team building, discussion, and brainstorming, using UX methodologies to
        produce a clear vision for the prototype. The other team members were much more practiced in backend functionality.

        <p class="timeline-content-quote">“It was a new and awesome experience for me working for “the client” alongside the other developers.</p>
        <p>"We had a lot
            of guidance from the Vodafone mentors, particularly in the first stage when it was easy to become overwhelmed.
            But the whole process was very self-managed and fast-paced. We delegated tasks, held stand-up meetings to discuss
            progress, and ate heaps of Vodafone’s complementary cereal, which was a highlight for sure!”</p>

        <p>Although the client had a solid concept for the app, the implementation decisions in terms of technology and frameworks
            chosen were left entirely up to the team. They had to find the best solutions to implement and design the constraints
            or features the client wanted. This was exemplified by the fact that we needed to ensure the app alerted a health
            professional if a student answered with a “red flag” question positively. Holly really enjoyed applying her Yoobee
            learnings, and continued,</p>
        <p class="timeline-content-quote">
            “The process was huge and an exhausting challenge, but I think we were all impressed and pretty proud of how much we managed
            to achieve.</p>
            <p>"I definitely learned as much about teamwork as I did backend coding over the two weeks, and it was
            weirdly sad to say goodbye at the end!”
        </p>
</div>