.action-btns {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 94vw;
  }
  
  .action-btns .action-btn {
    position: relative;
    z-index: 3;
    top: 50px;
    left: 100%;
    color: #fff;
    font-size: 54px;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
  
  .action-btns .action-btn-abs {
    position: absolute !important;
  }