.title {
    position: absolute;
    top: 20vh;
    left: 20vw;
    font-family: 'Special Elite', cursive;
    font-size: 3vw;
    transition: all 1s ease;
    &.is-left {
      top: 10vh;
      left: 10vw;
    }
  }

 

  .title,
  .student-name {
    font-weight: lighter;
    text-transform: uppercase;
    color: #eeeeee;
  }

  

 