.title {
    position: absolute;
    top: 20vh;
    left: 20vw;
    h1 {
      font-family: 'Special Elite', cursive;
      font-size: 3vw;
    }
    h2 {
      font-size: 1vw;
    }
    transition: all 1s ease;
    &.is-left {
      top: 10vh;
      left: 10vw;
    }
  }

 

  .title h1, .title h2,
  .student-name {
    font-weight: lighter;
    text-transform: uppercase;
    color: #eeeeee;
  }

  

 