.title {
    position: absolute;
    top: 20vh;
    left: 20vw;
    font-family: 'Special Elite', cursive;
    font-size: 3vw;
    transition: all 1s ease;
  }

  .title.is-left {
    top: 10vh;
    left: 10vw;
  }

  .title,
  .student-name {
    font-weight: lighter;
    text-transform: uppercase;
    color: #eeeeee;
  }

  .close {
    position: fixed;
    z-index: 3;
    top: 50px;
    right: 60px;
    color: #fff;
    font-size: 54px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease;
  }