.timeline-card {
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    margin: 0 20px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    @include desktop {
      width: 1200px;
      margin: 0 auto;
    }
  }

  .timeline-events {
    position: absolute;
    z-index: -1;
    top: 40vh;
    left: 0;
    width: 100vw;
    display: none;
  }

  .tag {
    font-size: .7em;
    padding: 10px 14px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-block;
  }

  .tag-project {
    background-color: #ffa500;
  }

  .tag-job {
    background-color: #32a232;
  }

  .tag-internship {
    background-color: #e24c60;
  }

  