<div class="content">
    <p>Drivr is a web app created intended to help tourists and locals alike plan a road trip around our beautiful country of
        New Zealand. All you have to do is enter the length of your trip, choose a vehicle, plan your route, and Drivr will
        output all of your estimated costs from fuel and car rental as well as give you directions on a map interface.</p>
    <p>
        Drivr was built with pure
        <span class="emphasis">JavaScript</span> with
        <span class="emphasis">Leaflet Maps</span>, and includes some of the following features:
    </p>
    <ul class="features">
        <li>Automatic route calculation and full route customisation through
            <span class="emphasis">Leaflet Routing Machine</span>.</li>
        <li>Dynamic calculations of all costs and statistics. Change your route, vehicle, or any other aspect of your trip and
            all calculations and costs are dynamically updated.</li>
        <li>
            <span class="emphasis">JSON data</span> stores everything you need to know about 12 vehicles. Seats, engine size, fuel economy, doors,
            boot size, and rental cost.</li>
        <li>Extensibility to import API data for car rental.</li>
        <li>UX and usability focussed.</li>
    </ul>
</div>