<div class="timeline-content">
    <p>Wellington Music is a web app designed to you keep you up to date with everything Wellington has to offer in music. From festivals to weekend venues, instrument stores to music schools, Wellington Music has you covered. It features some editor picks for the hottest spots right now, as well as constantly pulling live data to keep you in the know.</p>
    <img class="timeline-content-image" src="assets/img/templates/student-2/welly-music-hero.07a67bde.jpg" alt="Drivr">
    <p> 
        Wellington Music was built with VueJS with GooglePlaces API and Foursquare Places API integration. It includes some of the following features:
    </p>
    <ol class="gradient-list">
        <li>Automatic route calculation and full route customisation through
            <span class="emphasis">Leaflet Routing Machine</span>.</li>
        <li>Dynamic calculations of all costs and statistics. Change your route, vehicle, or any other aspect of your trip and
            all calculations and costs are dynamically updated.</li>
        <li><span class="emphasis">JSON data</span> stores everything you need to know about 12 vehicles. Seats, engine size, fuel economy, doors,
            boot size, and rental cost.</li>
            <li>Extensibility to import API data for car rental.</li>
        <li>UX and usability focussed.</li>
      </ol>
      <a onclick="showProject('https://yoobee-vuejs.netlify.com')" target="_blank" class="goto-btn">
        <div class="circle">
            <span class="icon arrow"></span>
        </div>
        <p class="text">Go to Project</p>
    </a>
</div>